body {
  font-family: 'Exo', sans-serif;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-position: center top;
  background-size: 100%;
  text-align: center;
  background-color: #80d4ff;
  font-size: 150%;
}

#title {
  font-size: 50px;
  margin: auto;
  padding: 5px;
  text-decoration: none;
  color: rgb(14, 0, 143);
}

#title:hover {
  color: rgb(0, 162, 255)
}

#header {
  text-align: center;
  width: auto;
  height: 150px;
  margin-top: 35px;
  font-family: 'Charm', cursive;
  color: #e2e2e2;
}

nav {
  border-bottom: solid;
  border-color: black;

}
.form-group {
  width: 50%;
  margin: auto;
  height: 70%;

}
textarea{

  height: 50%;
  width: 50%;
}

#all_articles>li>a {
  list-style-type: none;
  font-weight: bold;
  text-decoration: underline;
  color: rgb(14, 0, 143);
}

#all_articles>li {
  list-style-type: none;
}

#all_articles {
  padding: 0px;
}

#articles {
  text-align: center;
  color: #e2e2e2;
  font-family: 'Charm', cursive;
}

#articles>a {
  text-align: center;
  color: #e2e2e2;
  font-family: 'Charm', cursiv;
  text-decoration: none;
}

#articles>a:hover {
  color: rgb(14, 0, 143);
}

#all_articles>li>a:hover {
  color: rgb(0, 162, 255);
}

ul {
  padding: 0px;
}

#text {
  background-color: transparent;
  border: 2px solid black;
  outline: none;
  width: 100%;
  height: 8rem;
  margin: auto;
  resize: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

#text:focus{
  border-color: green;
  text-decoration: none;
}

.correct{
  color: green;
}

.incorrect{
  color: red;
}